[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = "Klassisches Schiffe versenken als Beginner C# Projekt"
[access "refs/*"]
	owner = group user/DataSCCource
	read = group user/DennisWJenkins (DennisWJenkins)
	label-Verified = -1..+1 group user/DennisWJenkins (DennisWJenkins)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/DataSCCource
	label-Verified = -1..+1 group user/DataSCCource
	label-Verified = -1..+1 group user/DennisWJenkins (DennisWJenkins)
	push = group user/DataSCCource
	read = group user/DataSCCource
	read = group user/DennisWJenkins (DennisWJenkins)
	rebase = group user/DataSCCource
	removeReviewer = group user/DataSCCource
	submit = group user/DataSCCource
[access "refs/heads/*"]
	create = group user/DataSCCource
	push = group user/DataSCCource
	pushMerge = group user/DataSCCource
	read = group user/DataSCCource
[access "refs/tags/*"]
	push = group user/DataSCCource
	push = +force group user/DataSCCource
